/* Effects */

.hover-effect:hover{
    transform: translate(0.1rem, 0.1rem);
    -webkit-transform: translate(0.1rem, 0.1rem);
    -ms-transform: translate(0.1rem, 0.1rem);
    -o-transform: translate(0.1rem, 0.1rem);
    cursor: pointer;
}

shadow{
    box-shadow:  0 1rem 3rem 0.175rem #000000;
}

/* Sessions */

html {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
}

.main-wrapper{
    min-height: 70vh;
    margin: 0 auto;
}

@media only screen and (min-width: 1800px) {

    .header-h2{
        font-size:200px;
        opacity:75%;
        -ms-transform: translateY(20%);
        transform: translateY(20%);
    }

    .main-wrapper{
        min-height: 35vh;
        width: 90vw;
    }

    /* .button{
        display: inline-block;
        width: 150px;
    } */

    /* .start-sentence{
        margin: 50px;
    } */

    .genre-buttons{
        float: left;
        width: 20vw;
    }

    .genre-results{
        float: right;
        width: 70vw;
    }
}