/* Effects */

.hover-effect:hover{
    transform: translate(0.1rem, 0.1rem);
    -webkit-transform: translate(0.1rem, 0.1rem);
    -ms-transform: translate(0.1rem, 0.1rem);
    -o-transform: translate(0.1rem, 0.1rem);
    cursor: pointer;
}

shadow{
    box-shadow:  0 1rem 3rem 0.175rem #000000;
}

/* Sessions */

html {
    font-family: 'Montserrat', 'Helvetica', sans-serif; 
    font-weight: 300;
}

.main-wrapper{
    min-height: 70vh;
    margin: 0 auto;
}

/* Elements */

h1, .h1 {
margin-bottom: 0.5rem;
font-family: 'Limelight', 'Montserrat', 'Helvetica', sans-serif;
font-weight: 500;
line-height: 1.2;
color: inherit;
}

h2, h3, h5, .h2, .h3, .h5{
margin-bottom: 0.5rem;
font-family: 'Poiret One', 'Montserrat', 'Helvetica', sans-serif;
font-weight: 500;
line-height: 1.2;
color: inherit;
}

.artist{
    display: none;
}

.header-h1{
    font-size:15vw;
    opacity:75%;
    -ms-transform: translateY(-5%);
    transform: translateY(-5%);
}

@media only screen and (min-width: 1800px) {

    .main-wrapper{
        min-height: 35vh;
        width: 90vw;
    }

    .artist{
        display: block;
    }

}