html {
    font-family: Montserrat, sans-serif;
}

.footer{
    clear: both;
}


.main-wrapper{
    min-height: 70vh;
    margin: 0 auto;
}

@media only screen and (min-width: 1800px) {

    .header-h2{
        font-size:200px;
        opacity:75%;
        -ms-transform: translateY(20%);
        transform: translateY(20%);
    }

    .main-wrapper{
        min-height: 35vh;
        width: 90vw;
    }

    .button{
        display: inline-block;
        width: 150px;
    }

    .start-sentence{
        margin: 50px;
    }

    .div-image{
        display: inline-block;
        height: 400px;
        width: 400px;
    }

    .image{
        max-height: 100%;
        width: auto;
    }

    .genre-buttons{
        float: left;
        width: 20vw;
    }

    .genre-results{
        float: right;
        width: 70vw;
    }
}